<div class="list custom-font-platform">

  <div class="item text-center" style="padding:5px; border-width:0px!important;">
    <p class="">Puntos descontados de la línea 15555555</p>
    <p class="custom-title-perfil" style="color:#00b4c5">100</p>
  </div>


  <div class="item text-center" style="padding:5px; border-width:0px!important;">
    <p class="">Código de canje</p>
    <p class="title" class="custom-title-perfil" style="background-color: #cccccc;
  color: black ">CP123456789</p>
  </div>



</div>
