<ion-view can-swipe-back="false" view-title="Detalle Descuento">

  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <a class="button button-icon icon ion-ios-arrow-back" ng-click="goBack()">Volver</a>

    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <!--<button class="button button-clear button-positive"   style="position: absolute;right: 2px" ng-click="shareAnywhere(descuentoDetail.description)">CC</button>-->
      <a class="button button-icon icon ion-ios-upload-outline" ng-click="shareAnywhere(descuentoDetail.description)"></a>

    </ion-nav-buttons>
  </ion-nav-bar>




  <ion-content class="padding" ng-controller="DescuentosDetailCtrl">

    <!--<button class="button" ng-click="shareAnywhere(descuentoDetail.description)">Share</button>-->
    <div class="descuento-header">
      <div class="item item-avatar">
        <img ng-src="{{descuentoDetail.image}}">
        <h2 class="item-middle text-left text-wrap">{{descuentoDetail.name}}
          <br><span class="text-cyan">{{descuentoDetail.applyingDays[1]}}</span></h2>
      </div>
      <div class="item item-body">
        <img class="full-image" ng-src="{{multimedia.url}}">
        <p>{{descuentoDetail.description}}</p>
        <div class="padding-top-10 padding-bottom-10">
          <div class="custom-barra-detail-descuentos text-center">
            <div class="detailCategory descuento1">
              <div class="descuento-segmento">BLACK</div>
              <div class="descuento-cantidad">2x1</div>
            </div>
            <div class="detailCategory descuento2">
              <div class="descuento-segmento">PLATINO</div>
              <div class="descuento-cantidad">2x1</div>
            </div>
            <div class="detailCategory descuento3">
              <div class="descuento-segmento">ORO</div>
              <div class="descuento-cantidad">2x1</div>
            </div>
            <div class="detailCategory descuento4">
              <div class="descuento-segmento">PLATA</div>
              <div class="descuento-cantidad">2x1</div>
            </div>
          </div>
          <p class="text-wrap"><span class="text-cyan">Vigencia:</span>&nbsp;{{descuentoDetail.startDate}}&nbsp;al&nbsp;{{descuentoDetail.expirationDate}}
          </p>
          <p class="text-wrap"><span class="text-cyan">Web:</span>&nbsp;{{descuentoDetail.link}}</p>
          <div class="container-description-descuento-legales" ng-class="{showDescuentoLegales: showDescuentoLegales}">
            <p class="text-wrap"><span class="text-cyan">Legales:</span>&nbsp;{{descuentoDetail.legales}}</p>
          </div>
          <label ng-click="showDescuentoLegales = true" class="text-magenta">Ver más</label>
          <p class="text-wrap"><span class="padding-right-10"><img src="img/icon-text-success.png"></span>Recibe el
            código por SMS.</p>
        </div>
      </div>
    </div>
    <div class="descuento-detail">
      <div class="list list-descuentos-sucursales">
        <div class="item item-divider text-cyan">
          Sucursales
        </div>
        <a class="item" href="#">
          Capital Federal, Las Cañitas - Baéz 268 0
        </a>
        <a class="item" href="#">
          Cordoba, Las Cañitas - Baéz 268
        </a>
        <a class="item" href="#">
          Santa Fé, Las Cañitas - Baéz 268
        </a>
        <!--<div class="item item-divider text-cyan">-->
        <!--Legales-->
        <!--</div>-->
        <!--<p class="item text-left text-wrap">{{descuentoDetail.legales}}</p>-->
      </div>
      <div id="map" data-tap-disabled="true"></div>
      <br>
      <br>
      <br>
      <br>
    </div>
  </ion-content>
  <div class="descuento-footer padding-top-10 width-100 text-center">
    <button class="button button-positive width-100" ng-click="shareSMS(descuentoDetail.keywordSMS, 3372)">
      <img style="vertical-align:middle" class="icon-slide padding-5" src="img/icon-sms-white.png">
      <span class="text-wrap">Enviá&nbsp;{{descuentoDetail.keywordSMS}}
          &nbsp;al&nbsp;3372</span>
    </button>
  </div>

</ion-view>
