<div class="list custom-font-platform">

  <div class="item text-center" style="padding:5px; border-width:0px!important;">
    <p class="">Puntos</p>
    <p class="custom-title-perfil" style="color:#00b4c5">1000</p>
  </div>


  <div class="item text-center" style="padding:5px; border-width:0px!important;">
    <!--<img src="img/club-barra-bg3.png">-->
    <p class="">Categoría</p>
    <p class="title" class="custom-title-perfil" style="background-image: url(img/club-barra-bg3.png);
  background-repeat: repeat-x; color: white ">ORO</p>
  </div>



</div>
