
<ion-view view-title="{{descuento.name}}">
  <ion-content ng-controller="PremiosDetailCtrl">
    <img ng-src="{{premio.logoProveedor}}" style="width: 100%; height: 40%">
    <p>
      {{premio.name}}
    </p>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>


<!--<ion-view>-->
  <!--<ion-content class="padding">-->
    <!--<div class="premio-header">-->
      <!--<div class="item item-avatar">-->
        <!--<img src="../img/icon-gif.png">-->
        <!--<h2>{{premio.title}}</h2>-->
      <!--</div>-->
      <!--<div class="item item-image">-->
        <!--<img src="../img/club-barra-bg1.png">-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="premio-detail">-->
    <!--</div>-->
    <!--<div class="premio-canje">-->
      <!--<div class="list">-->
        <!--<label><span><img src="../img/icon-text-success.png"></span>Efectivización inmediata</label>-->
        <!--<label class="item item-input item-stacked-label">-->
          <!--<span class="input-label">Información para el canje:</span>-->
          <!--<input type="text" placeholder="Info">-->
        <!--</label>-->
        <!--<label class="item item-input item-stacked-label">-->
          <!--<span class="input-label">N° de Línea:</span>-->
          <!--<input type="number" placeholder="Puntos">-->
        <!--</label>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="premio-footer">-->
      <!--<button class="button button-positive">-->
        <!--Confirmar Canje-->
      <!--</button>-->
    <!--</div>-->
  <!--</ion-content>-->
<!--</ion-view>-->
