<!--https://github.com/DarrylD/ionic-ripple-->
<ion-view view-title="Premios">
  <ion-content ng-controller="PremiosCtrl" ng-init="allPremios()">


    <!--<div collection-repeat="premio in premios"-->
    <!--item-width="33%">-->

    <!--<div class="list card margin-0" ng-click="showPopup(premios[$index].id)">-->
    <!--<div-->
    <!--class="item item-body padding-bottom-0-xs padding-top-0-xs padding-left-0-xs padding-right-0-xs margin-0">-->
    <!--<div class="image padding-bottom-0">-->
    <!--<img ng-src="{{premios[$index].img}}" class="custom-img-card"/>-->
    <!--<div class="custom-puntos-card padding-0 margin-0">-->
    <!--<p class="margin-0-xs">{{premios[$index].puntos}} pts</p>-->
    <!--<p class="margin-0-xs">+${{premios[$index].pesos}}</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<p class="padding-left-5 margin-0 title-premio">{{premios[$index].title}}</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <div class="list">

      <a class="item item-thumbnail-left" ng-click="showPopup(premios[$index].id)" ng-repeat="premio in premios">
        <img class="custom-img-card" ng-src="{{premios[$index].img}}"/>

        <!--if premio destacado-->
        <div class="custom-destacado">
          <p>Destacado</p>
        </div>

        <div>
          <p class="title-premio">{{premios[$index].desc}}</p>
          <span class="puntos-premio"><strong>{{premios[$index].puntos}}</strong>&nbsp;Puntos&nbsp;+&nbsp;<strong>${{premios[$index].pesos}}</strong></span>
        </div>
      </a>

    </div>
  </ion-content>
</ion-view>
