<ion-view  cache-view="true" view-title="<img  src='../img/clubIsoLogoTipo.png' class='logo-header'/>" ng-controller="DescuentosCtrl">
    <ion-content >
      <div class="custom-title-list">
        <p>DESTACADOS</p>
      </div>
      <ion-list>
       <div class="list">
          <div class="item row custom-item" ng-click="getDetailDescuento(dDestacado.id)" ng-repeat="dDestacado in dDestacados" >
            <div class="col col-33">
              <img class="custom-img" ng-src="{{dDestacado.logoProveedor}}"/>
              <div class="custom-destacado">
                <p>Destacado</p>
              </div>
            </div>
            <div class="col col-33">
              <div class="content-middle text-center" style="width: 100%;">
                <p class="title-descuento item-middle">{{dDestacado.name}} <br>
                <img alt="*" src="img/ico-phonito.png"><span class="title-descuento"> Enviá gratis </span>
                <span class="text-primary text-uppercase">{{dDestacado.keywordSMS}} </span><span class="title-descuento">al </span><span class="text-primary">3372</span>
                </p>
              </div>
            </div>
            <div class="col col-33">
              <div class="content-middle" style="width: 100%;">
            <span class="item-middle">
              <div class="custom-barra-descuentos text-center">
              <div class="category descuento1"></div> <span class="title-premio"> 20%</span> <br>
              <div class="category descuento2"></div> <span class="title-premio"> 20%</span> <br>
              <div class="category descuento3"></div> <span class="title-premio"> 20%</span> <br>
              <div class="category descuento4"></div> <span class="title-premio"> 20%</span> <br>
            </div>
            </span>
              </div>
            </div>
          </div>
        </div>
      </ion-list>
      <div class="custom-title-list">
        <p>CATÁLOGO COMPLETO</p>
      </div>
      <ion-list>
        <div class="list">
          <div class="item row custom-item" ng-click="getDetailDescuento(descuento.id)" ng-repeat="descuento in dDescuentos" >
            <div class="col col-33">
              <img class="custom-img" ng-src="{{descuento.logoProveedor}}"/>
            </div>
            <div class="col col-33">
              <div class="content-middle text-center" style="width: 100%;">
                <p class="title-descuento item-middle">{{descuento.name}} <br>
                  <img alt="*" src="img/ico-phonito.png"><span class="title-premio"> Enviá gratis </span>
                  <span class="text-primary text-uppercase">{{descuento.keywordSMS}} </span><span class="title-descuento">al </span><span class="text-primary">3372</span>
                </p>
              </div>
            </div>
            <div class="col col-33">
              <div class="content-middle" style="width: 100%;">
            <span class="item-middle">
              <div class="custom-barra-descuentos text-center">
              <div class="category descuento1"></div> <span class="title-premio"> 20%</span> <br>
              <div class="category descuento2"></div> <span class="title-premio"> 20%</span> <br>
              <div class="category descuento3"></div> <span class="title-premio"> 20%</span> <br>
              <div class="category descuento4"></div> <span class="title-premio"> 20%</span> <br>
            </div>
            </span>
              </div>
            </div>
          </div>

        </div>
      </ion-list>
      <ion-infinite-scroll
        on-infinite="loadMoreD()"
        distance="1%">
      </ion-infinite-scroll>
    </ion-content>

    <!-- </ion-content>

     <ion-content class=".testHello ">
       <ion-list>
         <div class="margin-top:200px!important;" collection-repeat="descuento in descuentos">

           <a class="item item-thumbnail-left" ng-click="showConfirm(descuento.id)">
             <img class="custom-img-card" ng-src="{{descuento.logoProveedor}}"/>
             <p class="title-descuento">{{descuento.name}}</p>
             <img alt="*" src="../img/ico-phonito.png">
             <span class="title-descuento">Enviá gratis </span><span class="text-primary text-uppercase">{{descuento.keywordSMS}} </span><span class="title-premio">al </span><span class="text-primary">3372</span>

             <div class="custom-barra-descuentos">
               <div class="category descuento1"></div>
               <div class="category descuento2"></div>
               <div class="category descuento3"></div>
               <div class="category descuento4"></div>
             </div>
           </a>

         </div>
       </ion-list>
        <ion-infinite-scroll
          on-infinite="loadMore()"
          distance="1%">
        </ion-infinite-scroll>
     </ion-content>
   -->
  </ion-view>
