<!--https://github.com/DarrylD/ionic-ripple-->
<ion-view view-title="<img  src='../img/clubIsoLogoTipo.png' class='logo-header'/>">
  <ion-content ng-controller="PremiosCtrl">
    <span class="text-primary text-uppercase">DESTACADOS</span>
    <ion-list>
      <div class="list">
        <div class="item row" ng-click="showPopup(destacado.id)" ng-repeat="destacado in destacados">
          <div class="col col-33">
            <img class="custom-img" ng-src="{{destacado.image}}"/>
            <div class="custom-destacado">
              <p>Destacado</p>
            </div>
          </div>
          <div class="col col-33">
            <div class="content-middle">
              <p class="title-premio item-middle">{{destacado.name}}</p>
            </div>
          </div>
          <div class="col col-33">
            <div class="content-middle" style="width: 100%;">
              <span class="item-middle">
              <p class="puntos-premio">{{destacado.pointsValue}}&nbsp;Puntos</p>
              <p class="puntos-premio">+&nbsp;$ 500</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
    <span class="text-primary text-uppercase">DESTACADOS</span>
    <ion-list>
      <div class="list">
        <div class="item row" ng-click="showPopup(premio.id)" ng-repeat="premio in premios">
          <div class="col col-33">
            <img class="custom-img" ng-src="{{premio.image}}"/>
          </div>
          <div class="col col-33">
            <div class="content-middle">
              <p class="title-premio item-middle">{{premio.name}}</p>
            </div>
          </div>
          <div class="col col-33">
            <div class="content-middle" style="width: 100%;">
              <span class="item-middle">
              <p class="puntos-premio">{{premio.pointsValue}}&nbsp;Puntos</p>
              <p class="puntos-premio">+&nbsp;$ 500</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
