<!--https://github.com/DarrylD/ionic-ripple-->
<ion-view view-title="<img  src='../img/clubIsoLogoTipo.png' class='logo-header'/>">
  <ion-content ng-controller="PremiosCtrl">
    <div class="custom-title-list">
      <p>DESTACADOS</p>
    </div>
    <ion-list>
      <div class="list">
        <div class="item row custom-item" ng-click="showPopup(pDestacado.id)" ng-repeat="pDestacado in pDestacados">
          <div class="col col-33">
            <img class="custom-img" ng-src="{{pDestacado.image}}"/>
            <div class="custom-destacado">
              <p>Destacado</p>
            </div>
          </div>
          <div class="col col-33">
            <div class="content-middle" style="width: 100%;">
              <p class="title-premio item-middle text-center">{{pDestacado.name}}</p>
            </div>
          </div>
          <div class="col col-33">
            <div class="content-middle" style="width: 100%;">
              <span class="item-middle">
              <p class="puntos-premio">{{pDestacado.pointsValue}}&nbsp;Puntos</p>
              <p class="puntos-premio">+&nbsp;$ 500</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
    <div class="custom-title-list">
      <p>CATÁLOGO COMPLETO</p>
    </div>
    <ion-list>
      <div class="list">
        <div class="item row custom-item" ng-click="showPopup(premio.id)" ng-repeat="premio in pPremios">
          <div class="col col-33">
            <img class="custom-img" ng-src="{{premio.image}}"/>
          </div>
          <div class="col col-33">
            <div class="content-middle" style="width: 100%;">
              <p class="title-premio item-middle text-center">{{premio.name}}</p>
            </div>
          </div>
          <div class="col col-33">
            <div class="content-middle" style="width: 100%;">
              <span class="item-middle">
              <p class="puntos-premio">{{premio.pointsValue}}&nbsp;Puntos</p>
              <p class="puntos-premio">+&nbsp;$ 500</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ion-list>
    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
