<!-- Acá agregamos los tabs que querramos y los configuramos en el app.js -->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Descuentos Tab -->
  <ion-tab title="Descuentos" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/descuentos">
    <ion-nav-view name="tab-descuentos"></ion-nav-view>
  </ion-tab>

  <!-- Premios Tab -->
  <ion-tab title="Premios" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/premios">
    <ion-nav-view name="tab-premios"></ion-nav-view>
  </ion-tab>


</ion-tabs>
