<!-- Acá agregamos los tabs que querramos y los configuramos en el app.js -->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="home" icon-on="home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Cercanos Tab -->
  <ion-tab title="Cercanos" icon-off="compass" icon-on="compass" href="#/tab/cercanos">
    <ion-nav-view name="tab-cercanos"></ion-nav-view>
  </ion-tab>

  <!-- Descuentos Tab -->
  <ion-tab title="Descuentos" icon-off="benefit activated" icon-on="benefit" href="#/tab/descuentos">
    <ion-nav-view name="tab-descuentos"></ion-nav-view>
  </ion-tab>

  <!-- Premios Tab -->
  <ion-tab title="Premios" icon-off="gif" icon-on="gif" href="#/tab/premios">
    <ion-nav-view name="tab-premios"></ion-nav-view>
  </ion-tab>

</ion-tabs>
