.bar.bar-positive {
  border-color: #00b5c8;
  background-color: #00b5c8;
}

.bar.bar-positive .title {
  color: #fff;
  font-family: "Platform-Regular";
}

.bar.bar-positive.bar-footer {
  background-image: linear-gradient(180deg, #006c76, #006c76 50%, transparent 50%);
}

.tabs-striped .tabs {
  background-color: #fff;
  background-image: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding-top: 2px;
  /*font-family: "Lato-Regular";*/
  font-family: "Platform-Regular";
}

ion-tabs.tabs-color-active-positive .tab-item {
  color: #00b5c8;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
  color: #00b5c8;
}

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated {
  border-color: #00b5c8;
  color: #00b5c8;
}
.tabs .tab-item .icon.gif {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 30px;
  width: 30px;
  background-image: url('../img/icon-gif.png');
  background-size:contain;
}

.tabs .tab-item .icon.compass {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 30px;
  width: 30px;
  background-image: url('../img/icon-compass.png');
  background-size:contain;
}

.tabs .tab-item .icon.home {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 30px;
  width: 30px;
  background-image: url('../img/icon-home.png');
  background-size:contain;
}

.tabs .tab-item .icon.benefit {
  background-repeat: no-repeat;
  background-position: 50%;
  height: 30px;
  width: 30px;
  background-image: url('../img/icon-benefit.png');
  background-size:contain;
}

.tabs .tab-item .tab-title {
  font-family: "Platform-Light";
}

.tabs .tab-item-active .tab-title {
  font-family: "Platform-Regular";
}

.icon-slide{
  widht:50%;
  height:50%;
}

@media (max-width: 400px) {
  .logo-header{
    width: 45%;
  }
}

@media (min-width: 401px) and (max-width: 480px) {
  .logo-header{
    width: 30%;
  }
}

@media (min-width: 481px) and (max-width: 680px) {
  .logo-header{
    width: 20%;
  }
}

@media (min-width: 681px) and (max-width: 770px) {
  .logo-header{
    width: 18%;
  }
}

@media (min-width: 771px) and (max-width: 980px) {
  .logo-header{
    width: 14%;
  }
}

@media (min-width: 981px){
  .logo-header{
    width: 12%;
  }
}

.custom-side-menu{
  font-family: "Platform-Regular";
}
/*@media screen and (orientation:portrait) {*/
  /*.logo-header{*/
    /*width: 35%;*/
  /*}*/
/*}*/

