.container-description-premio-detail {
  font-size: 16px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}
.showPremioDescription {
  overflow: visible;
  height: auto;
}
.container-description-premio-legales {
  font-size: 16px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}
.container-description-premio-legales p{
  margin-top: 0px;
}
.showPremioLegales {
  overflow: visible;
  height: auto;
}

