.title-descuento{
  /*color: white !important;*/
  text-align: center;
  font-size: 12px !important;
  line-height: 1.5 !important;
  font-family: "Lato-Regular";
  overflow: visible !important;
  white-space: normal !important;
}

.text-primary {
  /*color: white !important;*/
  text-align: left;
  font-size: 12px !important;
  /*line-height: 1.1 !important;*/
  font-family: "Lato-Regular";
  overflow: visible !important;
  white-space: normal !important;
  color: #00b4c5;
}

.detail-background {
  background-color: #11c1f3;
}

.text-uppercase, .initialism {
  text-transform: uppercase;
}

@media (max-width: 363px){
  .custom-item{
    height: 122px !important;
  }
}

@media (min-width: 480px) and (max-width: 800px) {
  .title-descuento{
    font-size: 18px !important;
  }

  .text-primary{
    font-size: 18px !important;
  }
}

@media (min-width: 800px) and (max-width: 970px) {


  .title-descuento{
    font-size: 22px !important;
  }

  .text-primary{
    font-size: 22px !important;
  }
}

@media (min-width: 970px){


  .title-descuento{
    font-size: 24px !important;
  }

  .text-primary{
    font-size: 24px !important;
  }
}


.custom-barra-descuentos .category.descuento1 {
  background-image: url(../img/club-barra-bg1.png);
}

.custom-barra-descuentos .category.descuento2 {
  background-image: url(../img/club-barra-bg2.png);
}

.custom-barra-descuentos .category.descuento3 {
  background-image: url(../img/club-barra-bg3.png);
}

.custom-barra-descuentos .category.descuento4 {
  background-image: url(../img/club-barra-bg4.png);
}

.custom-barra-descuentos .category {
  text-align: center;
  padding-top: 1px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
}

#map {
  height: 50%;
  width: 100%;
}

scroll {
  height: 100%;
}

.custom-title-list{
  width: 100%;
  height: auto;
  background-color: #d9186b;
}
.custom-title-list p{
  text-align: center;
  text-transform: uppercase;
  font-family: "Platform-Light";
  font-size: 18px;
  color: #fff;
  margin-bottom: 0px !important;
}
