/*tab-premios*/

.custom-img-card{
  position: relative;
  width: 100%;
  max-height: 85px;
}

.custom-destacado{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20%;
  max-width: 20%;
  min-width: 20%;
  /*background: rgba(217, 24, 107, 1);*/
  background-color: #d9186b;
  height: 20px !important;
}

.custom-destacado p{
  color: white;
  text-align: center;
  font-size: 13px !important;
  height: 15px !important;
  font-family: "Platform-Light";
}

.title-premio{
  /*color: white !important;*/
  text-align: left;
  font-size: 12px !important;
  /*line-height: 1.1 !important;*/
  font-family: "Lato-Regular";
  overflow: visible !important;
  white-space: normal !important;
}

.puntos-premio{
  text-align: left;
  font-size: 12px !important;
  font-family: "Lato-Regular";
}

.item-body p {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}


@media (max-width: 480px) {
  .card{
    max-height: 135px !important;
    min-height: 135px !important;
  }
  .card .item-body{
    max-height: 135px !important;
    min-height: 135px !important;
    background-color: #00b5c8;
  }
  /*.card .item-body .btn-canjear{*/
    /*position: absolute;*/
    /*bottom: 4px;*/
    /*width: 97%;*/
  /*}*/
}

@media (min-width: 480px) and (max-width: 768px) {
  .card{
    max-height: 135px !important;
    min-height: 135px !important;
  }
  .card .item-body{
    max-height: 135px !important;
    min-height: 135px !important;
    background-color: #00b5c8;
  }
  /*.card .item-body .btn-canjear{*/
    /*position: absolute;*/
    /*bottom: 4px;*/
    /*width: 98%;*/
  /*}*/
}

